* {
    box-sizing: border-box;
}

.bookshelf,
.form-input {
    font-size: 20px;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    margin-bottom: 10px;
}



.book {
    border: 1px black solid;
    padding: 2px;
    flex: 1;
    flex-basis: 250px;
}

.isRead {
    background-color: aqua;
}

.add-book {
    margin-bottom: 10px;
    border: 1px black solid;
    padding: 10px;
    border-radius: 16px;

}